@import "defaultSettings";

header {
  background: $darkBackgroudHeader;
  color: $darkTextColor;
  h1 {
    color: $darkTitleColor;
  }
  hr {
    border-color: $darkHrColor;
  }
}

section {
  background: $darkBackgroundPage;
  .medias {
    .item-media {
      background: $darkCardColor;      
      color: $darkTextColor;
      .media-title {
        color: $darkTitleColor;
      }
    }
  }
}