@import "defaultSettings";

header {
  background: $darkBackgroudHeader;
  color: $darkTextColor;
  h1 {
    color: $darkTitleColor;
  }
  hr {
    border-color: $darkHrColor;
  }
}

section {
  background: $darkBackgroundPage;
  .medias {
    .item-media {
      background: $darkCardColor;      
      color: $darkTextColor;
      .media-title {
        color: $darkTitleColor;
      }
    }
    .item-media:hover {
      background: $darkCardColorHover;
    }
  }
  .overview {
    h2 {
      color: $darkTitleColor;
    }
    .items {
      .item-overview {
        background: $darkCardColor;
        color: $darkTextColor;  
      }
    }
  }
}