@import "defaultSettings";

.container-header {
  background: $darkBackgroudHeader;
  header {
    color: $darkTextColor;
    h1 {
      color: $darkTitleColor;
    }
    hr {
      border-color: $darkHrColor;
    }
    .switcher {
      .switch-container{
        .slider {        
          background: $darkBackgroundSwitch;        
        }
        .slider:before{
          background-color: $darkSwitch;        
        }
      }
    }
  }
}
section {
  background: $darkBackgroundPage;
  .medias {
    .item-media {
      background: $darkCardColor;      
      color: $darkTextColor;
      .media-title {
        color: $darkTitleColor;
      }
    }
    .item-media:hover {
      background: $darkCardColorHover;
    }
  }
  .overview {
    h2 {
      color: $darkTitleColor;
    }
    .items {
      .item-overview {
        background: $darkCardColor;
        color: $darkTextColor;
        .info {
          .info-value {
            color: $darkTitleColor;
          }
        }
      }
      .item-overview:hover {
        background: $darkCardColorHover;
      }
    }
  }
}
.attribution {
  color: $darkTextColor;
}
