* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

//- White (BG): hsl(0, 0%, 100%)
//- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
//- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
//- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
//- Very Dark Blue (Text): hsl(230, 17%, 14%)
// Light Theme
$backgroundPage: hsl(0, 0%, 100%);
$backgroundHeader: rgb(248, 249, 254);

$darkBackgroudHeader: hsl(232, 19%, 15%);