* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

$facebookBorderColor: rgb(23, 145, 245);
$twitterBorderColor: rgb(28, 160, 242);
$instagramBorderColor: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
$youtubeBorderColor: rgb(196, 3, 42);

// Light Theme
$backgroundPage: rgb(255, 255, 255);
$backgroundHeader: rgb(248, 249, 254);
$titleColor: hsl(230, 17%, 14%);
$textColor: hsl(228, 12%, 44%);
$hrColor: rgba(99, 104, 126, 0.2);
$cardColor: rgb(240, 242, 250);
$cardColorHover: rgb(225, 227, 240);
$backgroundSwitch: rgb(174, 179, 202);
$switch: rgb(240, 244, 247);

// Dark Theme
$darkBackgroundPage: rgb(30, 32 ,42);
$darkBackgroudHeader: hsl(232, 19%, 15%);
$darkTitleColor: hsl(0, 0%, 100%);
$darkTextColor: hsl(228, 34%, 66%);
$darkHrColor: rgba(139, 151, 198, 0.2);
$darkCardColor: rgb(37, 42, 65);
$darkCardColorHover: rgb(51, 58, 86);
$darkBackgroundSwitch: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
$darkSwitch: rgb(40, 41, 69);

// styles matching the arrow up/down icon
.up {
  color: rgb(29, 180, 137);
  font-weight: bolder;
  font-size: smaller;
  padding-left: .2rem;
}

.down {
  color: rgb(220, 65, 76);
  font-weight: bolder;
  font-size: smaller;
  padding-left: .2rem;
}