
@mixin desktop-style {
  body {
    .content, .content.dark {
      .container-header {        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        header {
          width: 80%;
          flex-direction: row;
          justify-content: space-between;
          padding-left: unset;
          padding-right: unset;
          .text {
            width: unset;
          }
          hr {
            display: none;
          }
          .switcher {
            width: unset;
            span {
              padding-right: 1rem;
            }
          }
        }
      } 

      section {
        
      }

    }
  
  }
}
