
@mixin desktop-style {
  body {
    .content, .content.dark {
      .container-header {        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        header {
          width: 80%;
          flex-direction: row;
          justify-content: space-between;
          padding-left: unset;
          padding-right: unset;
          .text {
            width: unset;
          }
          hr {
            display: none;
          }
          .switcher {
            width: unset;
            span {
              padding-right: 1rem;
            }
          }
        }
      } 

      section {  
        .container-medias{      
          width: 100%;
          display: flex;
          justify-content: center;
          .medias {          
            width: 80%;
            flex-direction: row;
            align-items: center;
            justify-content: center;  
            .item-media {
              margin-bottom: unset;
              
              .media-title {
                font-size: 3rem;
              }
              
            }
            .item-media:first-of-type,
            .item-media + .item-media {
              margin-right: 2rem;
            }
            .item-media:last-of-type {
              margin-right: unset;
            }
          }
        }
      }

    }
  
  }
}
