@import "defaultSettings";

body {
  .content {     
    header {
      background: $backgroundHeader;   
      color: $textColor;
      h1 {
        color: $titleColor;
      }
      hr {
        border-color: $hrColor;
      }      
    }
    section {
      background: $backgroundPage;
      .medias {
        .item-media {
          background: $cardColor;
          color: $textColor;
          .media-title {
            color: $titleColor;
          }
        }
      }      
    }
  }

  .content.dark {
    background: $darkBackgroundPage;
    @import "darkTheme";
  }

  .content, .content.dark {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    //align-items: center;    
    header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      //width: 100%;
      padding: 2.5rem 2rem 6rem 2rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      .text {
        //width: 100%;
        h1 {
          font-size: 1.5rem;
        }
        span {
          font-weight: bolder;
          font-size: .87rem;
        }
      }
      hr {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 25%;
      }
      .switcher {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: bolder;
        font-size: .87rem;
      }
    }

    section {
      width: 100%;
      .medias {
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-media {      
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          padding: 2rem 0 1rem 0;
          border: 1px solid black;
          .social {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: smaller;
          }
          .media-title {
            font-size: 4rem;
            font-weight: 700;
          }
          .media-members-name {
            font-weight: 200;
            font-size: small;
            letter-spacing: .3rem;
          }
          .value {
            display: flex;
            align-items: center;
          }          
        }
      }
    }

    .attribution  {
      width: 100%;
      display: flex;      
      align-items: center;
      justify-content: center;
      font-size: 11px; 
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}

