@import "_defaultSettings";
@import '_mediaQueries';

body {
  .content {     
    header {
      background: $backgroundHeader;   
      color: $textColor;
      h1 {
        color: $titleColor;
      }
      hr {
        border-color: $hrColor;
      }
      .switcher {
        .switch-container{
          .slider {
            background-color: $backgroundSwitch;
          }
          .slider:before{
            background-color: $switch;
          }
        }
      }    
    }
    section {
      background: $backgroundPage;
      .medias {
        .item-media {
          background: $cardColor;
          color: $textColor;
          .media-title {
            color: $titleColor;
          }
        }
        .item-media:hover {
          background: $cardColorHover;
        }        
      }
      .overview {
        .title-overview {
          h2 {
            color: $titleColor;
          }  
        }
        .items {
          .item-overview {
            background: $cardColor;
            color: $textColor;
            .info {
              .info-value {
                color: $titleColor;
              }
            }
          }
          .item-overview:hover {
            background: $cardColorHover;
          }
        }
      }              
    }
  }

  .content.dark {
    background: $darkBackgroundPage;
    @import "darkTheme";
  }

  .content, .content.dark {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;      
      padding: 2.5rem 2rem 6rem 2rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      @include responsive(desktop){
        width: 100%;
      }
      .text {
        @include responsive(desktop){
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 80%;
        }
        h1 {
          font-size: 1.5rem;
        }
        span {
          font-weight: bolder;
          font-size: .87rem;
        }
      }
      hr {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 25%;
      }
      .switcher {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        font-weight: bolder;
        font-size: .9rem;
        .switch-container{
          .switch{
            position: relative;
            display: inline-block;
            width: 50px;
            height: 26px;
          }
          .switch input{
            opacity: 0;
            width: 0;
            height: 0;
          }

          input:checked + .slider:before {
            transform: translateX(22px);
          }

          .switch:focus{
            outline: none;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            //background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;            
          }          
          .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 3px;
            //background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          .slider.round{
            border-radius: 34px;
          }
          .slider.round:before{
            border-radius: 50%;
          }
        }
      }
    }

    section {
      width: 100%;
      padding-bottom: 2rem;
      @include responsive(desktop){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .medias {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -60px;

        @include responsive(desktop){
          width: 80%;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          padding-left: 2rem;
          padding-right: 2rem;
        }      
    
        .item-media {      
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          //padding: 2rem 0 1rem 0;
          border-radius: 5px;
          cursor: pointer;
          .social {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: smaller;
            padding-bottom: 1rem;
            span {
              padding-left: .5rem;
            }
          }
          .media-title {
            font-size: 4rem;
            font-weight: 700;
          }
          .media-members-name {
            font-weight: 200;
            font-size: small;
            letter-spacing: .3rem;
          }
          .value {
            display: flex;
            align-items: center;
            padding-top: 2rem;
          }          
        }

        .item-media:first-of-type {
          margin-bottom: 1.5rem;

          @include responsive(desktop){
            margin-bottom: unset;
            margin-right: 1.5rem;
          }          
        }

        .item-media + .item-media {
          margin-bottom: 1.5rem;

          @include responsive(desktop){
            margin-bottom: unset;
            margin-right: 1.5rem;
          }          
        }

        .item-media.facebook {
          border-top: 5px solid $facebookBorderColor;       
          padding: 1rem 0 1rem 0;
        }

        .item-media.twitter {
          border-top: 5px solid $twitterBorderColor;
          padding: 1.15rem 0 1rem 0;
        }

        .item-media.instagram {          
          background-repeat: no-repeat;
          background-size: 100% 5px;          
          background-image: $instagramBorderColor;
          padding: 1.3rem 0 1rem 0;
        }
        
        .item-media.youtube {
          border-top: 5px solid $youtubeBorderColor;
          padding: 1rem 0 1rem 0;
        }        
      }

      .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include responsive(desktop){
          width: 100%;
        }
        .title-overview {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding-bottom: 2rem;
          @include responsive(desktop){
            width: 76%;
            justify-content: flex-start;
          }
          h2 {
            width: 90%;            
          }
        }
        .items {      
          width: 100%;   
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include responsive(desktop){
            width: 76%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
          }
          .item-overview {
            width: 90%;
            display: flex;
            flex-direction: column;
            padding-top: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 1.5rem;
            border-radius: 2px;
            .title {
              display: flex;
              justify-content: space-between;
              padding-bottom: 1rem;
              font-weight: 700;
            }      
            .info {
              display: flex;
              justify-content: space-between;
              .info-value {                
                font-size: 2rem;
                font-weight: 700;
              }            
              .percentage {
                display: flex;
                align-items: center;
              }  
            }
          }

          .item-overview:first-of-type {
            margin-bottom: 1rem;
          }

          .item-overview + .item-overview {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .attribution  {
      width: 100%;
      display: flex;      
      align-items: center;
      justify-content: center;
      font-size: 11px; 
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}
